body{
    background: rgba(51, 117, 117, 0.7) !important;
    transform: scale(0.8);
}
.h1, h1{
    font-size: 1.6rem !important;
}
.center-layout {
    height: 100vh;
    width: 50vw;
    display: grid;
    place-items: center;
}

.control-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.control-panel {
    width: 30rem;
    height: 11.5rem;
    border-radius: 1rem;
    background: transparent;
    border: 3px solid #fff;
    box-shadow: -25px 25px 35px rgba(0, 0, 0, 0.31);
    /* Note: currently only Safari supports backdrop-filter */
    backdrop-filter: blur(1.625rem);
/*    --webkit-backdrop-filter: blur(1.625rem);*/
    background-color: rgba(255, 255, 255, 1);
    /* (plus shape's fill blended on top as a separate layer with 100% opacity) */

}

#circle-album {
    position: absolute;
    left: -50px;
    top: 20px;
}
#circle-album.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

.album-img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: url(https://avatars2.githubusercontent.com/u/53111060?s=480&amp;v=4);
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid #c7c7c7;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.39);
    background-position: 50% 50%;

}

.album-name {
    text-align: left;
    margin: 0px 0px 0px 40px;
    padding: 10px;
    font-family: "Baloo Thambi 2";
    font-weight: 600;
    color: #707070;

}
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.seek-leght {
    width: 350px;
    height: 9px;
    border-radius: 3px;
    background-color: rgb(112,112,112,0.4);
    position: absolute;
    right: 26px;
}

#current-time {
    margin: 0px 0px 0px 50px;
    font-size: 20px;
    float: left;

}

.album-track {
    width: 400px;
    float: right;
    margin-right: 2rem;
}

.track-length {
    float: right;
    font-size: 20px;
}

.track-time {
/*    width: 390px;*/
    right: 26px;
    color: #008080;
}

.seek-bar {
/*    width: 10%;*/
    height: 100%;
    border-radius: 4px;
    background-color: #008080;
}

#ins-time{
      visibility: hidden;
      width: 50px;
      background-color: #008080;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 2px 0;
      position: absolute;
      z-index: 1;
}
.seek-leght:hover #ins-time{
      bottom: 50%;
      right: 105px;
      visibility: visible;
}

.fas{
    color: dimgray !important;
    font-size: 30px;
    padding: 10px 10px;
    margin: 0px 20px;
}
.fas:hover{
    color:teal !important;
    transform: scale(1.1);
    background-color: #00808033;
    border-radius: 50%;
}
.control-btn {
    margin-top: 20px;
    display: flex;
    position: absolute;
    left: 130px;
}

.list-container {
    width: 33rem;
    height: 11.5rem;
    border-radius: 16px;
    border: 3px solid #fff;
    box-shadow: -25px 25px 35px rgba(0, 0, 0, 0.31);
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    place-items: center;
}

ul {
    margin: 0px 0px 0px 0px;
    height: 150px;
    width: 500px;
    list-style-type: none;
}
ul{
    overflow:hidden;
    overflow-y:scroll;
}

.list-track {
/*    display: inline-block;*/
    font-family: "Baloo Thambi 2";
    font-weight: 600;
    font-size: 20px;
    color: #707070;
    margin-right: 18px;
    padding: 12px 0px 12px 30px;
}
.li-album-name {
/*    width: 100px;*/
    font-family: "Cascadia Code";
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #707070;

}

.list-track .fas{
    padding: 0px;
    margin: 0px 40px 0px 0px;
    font-size: 20px;
}
.leng-track{
    float: right;
    font-family: "Cascadia Code";
    margin-right: 0px;
    margin-top: 10px;
    font-size: 14px;

}
 li:hover, li.active {
    background: rgba(0, 133, 133, 0.22);
    border-left: 2px solid #008080;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 3.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcdcdc46;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 70px;
  background: #00808033;
  border-radius: 5px ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008080;
}
